<div id="mc_embed_signup">
    <form action="https://dance.us1.list-manage.com/subscribe/post?u=3d44ed8a86b03d067e0700c03&amp;id=cb1eca5359" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
        <div id="mc_embed_signup_scroll">
            <div class="mc-field-group text-tiny">
                <input type="email" value="" placeholder="Get a notification for offline events" name="EMAIL" class="required email text-large" id="mce-EMAIL">
                <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_3d44ed8a86b03d067e0700c03_cb1eca5359" tabindex="-1" value=""></div>
                <div class="clear"><input type="submit" value="→" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
                {{/*  <label class="text-tiniest" for="mce-EMAIL">Email Address  <span class="asterisk">*</span></label>  */}}
            </div>
            <div id="mce-responses" class="clear">
                <div class="response text-tiny" id="mce-error-response" style="display:none"></div>
                <div class="response text-tiny" id="mce-success-response" style="display:none"></div>
            </div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
            {{- with .Site.Params.newsletter.description }}
                <div id="newsletter-notice" class="mce_inline_error text-tiny">{{ . | markdownify }}</div>
            {{- end }}
            {{- with .Site.Params.newsletter.contact }}
                <div id="newsletter-contact" class="text-tiny">{{ . | markdownify }}</div>
            {{- end }}
        </div>
        {{/*  <div class="indicates-required text-tiniest"><span class="asterisk">*</span> indicates required</div>  */}}
    </form>
</div>

<script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script><script type='text/javascript'>(function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[0]='EMAIL';ftypes[0]='email';fnames[1]='FNAME';ftypes[1]='text';fnames[2]='LNAME';ftypes[2]='text';fnames[3]='ADDRESS';ftypes[3]='address';fnames[4]='PHONE';ftypes[4]='phone';fnames[5]='BIRTHDAY';ftypes[5]='birthday';}(jQuery));var $mcj = jQuery.noConflict(true);</script>
<!--End mc_embed_signup-->