{{ define "head" }}
	{{ if .Site.Params.bgImg -}}
	<style>.bg-img {background-image: url('{{.Site.Params.bgImg}}');}</style>
	{{- else if .Site.Params.images -}}
		{{- range first 1 .Site.Params.images -}}
		<style>.bg-img {background-image: url('{{. | absURL}}');}</style>
		{{- end -}}
	{{- end -}}
{{ end }}

{{ define "main" }}
	{{- if (or .Site.Params.images .Site.Params.bgImg) }}
	<div class="bg-img"></div>
	{{- end }}
	<div id="spotlight" class="animated fadeIn">
		<div id="home-content">
			<div id="home-top">
				<div id="home-gpt3" class="color-dark">
					<p>
						{{ range .Site.Params.gpt3.list }}
							{{ .text }}
						{{ end }}
						<small class="color-bright">- {{ .Site.Params.gpt3.copyright}} <a href="{{ .Site.Params.gpt3.link}}">GPT-3 (AI)</a></small>
					</p>
					
				</div>
			</div>
			<div id="home-bottom" class="color-bright">
				<!-- <ul id="home-team">
					{{- with .Site.Params.team.title }}
						<h3>{{.}}</h3>
					{{- end }}
					{{ range .Site.Params.team.list }}
                    	<li><b>{{ .position | markdownify }}: </b>{{ .name | markdownify }}</li>
                	{{ end }}
				</ul> -->

				<ul id="home-funding">
					<!-- {{- with .Site.Params.funding.title }}
						<h3>{{.}}</h3>
					{{- end }} -->
					{{- with .Site.Params.funding.text }}
						<p>{{ . | markdownify }}</p>
					{{- end }}
					{{ range .Site.Params.funding.list }}
						<div class="icon" style="background-image: url({{ .icon }})">
							<a target="_blank" href="{{ .href }}"></a>
						</div>
                    	<!-- <li><a href="{{ .href }}" target="_blank">> {{ .name | markdownify }}</a></li> -->
                	{{ end }}
				</ul>
			</div>
		</div>		
		<div id="home-sticky">
			<h2 id="home-title">{{ .Site.Title }}</h2>
			{{- with .Site.Params.subtitle }}
				<h3 id="home-title">{{.}}</h3>
			{{- end }}
			{{- with .Site.Params.date }}
				<h5 id="home-date">{{.}}</h5>
			{{- end }}
			<!-- {{- with .Site.Params.location }}
				<h2 id="home-location">{{.}}</h2>
			{{- end }} -->
			<!-- {{- with .Site.Params.homeAnnouncement }}
				<h2 id="home-announcement">{{.}}</h2>
			{{- end }} -->
		</div>
		<div id="home-footer">
			{{- with .Site.Params.social }}
			<div id="home-social">
				{{ partialCached "social-icons.html" . }}
			</div>
			{{- end }}
			<nav id="home-nav" class="site-nav">
				{{ partialCached "menu.html" . }}
			</nav>
			<p>
				&copy; {{ now.Format "2006" }} <a href="{{ .Site.BaseURL }}">{{ .Site.Author.name }}</a>{{ .Site.Params.footerCopyright | safeHTML }}
			</p>
		</div>
	</div>
{{ end }}
